{% extends 'base.html' %}
{% load static %}
{# params: initials, sidebar, section_id, sections #}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'settings_style.css' %}">
{% endblock %}

{% block js %}
{% endblock %}

{% block title %}
    <title>PROTzilla - Settings</title>
{% endblock %}

{% block content %}
    <div class="wrapper">
        {{ sidebar|safe }}
        <div class="content border-start">
            <div justify-content-center d-flex>
                <h3>General Settings</h3>
                <div class="mb-3" id="description">General settings relating to the PROTzilla application can be adjusted here.</div>
                <form action="{% url 'settings:save' %}" method="post" id="save_settings">
                    {% csrf_token %}
                    <input type="hidden" name="section_id" value="{{ section_id }}">
                    <div class="mb-2" id="settings-form">
                        <!-- TO DO: Add general settings fields -->
                    </div>
                    {% block footer %}
                        {% include "settings_footer.html" %}
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>
{% endblock %} 