#contain {
    height:-100vh;

}

/* === RUN SELECTION === */
ul {
  margin: 0;
  padding: 0;
}

ul li div {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 40px; 
  padding: 0 10px;
}

.header-list li{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 40px; 
  padding: 0 10px;
}



/* Continue btn postioning */

input[value="Continue"] {
  margin-top: 20px;
  float: right;
}

/* Arkordeon */

/* Details-Container */
.details {
  display: none;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 200px;
  margin: 10px;
  position: relative;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

/* Hauptzeile in der Liste */
.list-item > .main-content {
  display: inline;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.list-item.expanded {
  background-color: #f5f5f5;
  margin-bottom: 10px;
  padding-bottom: 10px;
}


.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 5px;
}

.tag {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
  padding: 5px 10px;
  font-size: 0.9rem;
  white-space: nowrap;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 10px;
}
