p {
    margin: 5px;
}

.selected {
    background-color: #4A536A;
    color: white;
    border-radius: 15px;
}

button {
    color: black;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px;
}

table {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 5px;
    margin-top: 15px;
    width: 100%;
}

table td {
    padding: 5px;
}

.finished {
    color: #adadad;
    border-radius: 15px;
}


/*table td + td {
    border-left: 2px solid black;
}*/

table tr + tr td {
    border-top: 1px solid #adadad;
}

 button{
     display: inline-block;
 }

 .add_steps_dropdown_button{
     width: 100%;
 }