html, body, .wrapper {
    height: 100%;
  }

.wrapper {
    display: flex;
    height: 100%;
}

#content {
    flex: 3;
    padding: 20px;
}

#sidebar {
    flex: 1;
    padding: 20px;
    height: 100%;
}