html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    order: 1;
    padding: 20px;
    flex-grow: 1;
}

#main-content {
    padding-left: 8%;
    padding-right: 8%;
}

#sidebar {
    order: 2;
    padding: 20px;
    flex-basis: 300px;
    max-width: 400px;
    min-height: 100vh;
    flex-grow: 1;
    transition: 100ms;
}

#sidebar.active {
    margin-right: -400px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-right: -400px;
    }
    #sidebar.active {
        margin-right: 0;
    }
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
}

.plot-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}