<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    {% include 'runs/dynamic_methods.html' %}
    {% include 'runs/form_buttons.html' with results_exist=show_next %}

    <title>PROTzilla {{ run_name }}</title>
    <style>
        .layout-container {
            display: flex;
        }

        main {
            flex: 3;
            padding: 20px;
        }

        aside {
            flex: 1;
            background-color: #87A8B9;
            padding: 20px;
        }
    </style>
</head>

<body>
<div class="layout-container">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p>{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message | safe }}
                </p>
            {% endfor %}
        </div>
        <br>
    {% endif %}

    {{ run_name }}
    <br>
    <b>history</b>
    <br>

    <main>
        {% for step in displayed_history %}
            {{ step.location }}<br>
            {% for field in step.fields %}
                {{ field }}<br>
            {% endfor %}
            {% if step.name %}
                Name: {{ step.name }}<br>
            {% else %}
                {% include "runs/form_add_name.html" with index=step.index %}<br>
            {% endif %}

            {% for plot in step.plots %}
                <div style="width:600;height:500">
                    {{ plot|safe }}
                </div>
                <br>
            {% endfor %}
        {% endfor %}

        <div id="current_step">
            <br>
            {{ location }}
            <br>
            <form action="{% url 'runs:calculate' run_name %}" id="calc_form" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ method_dropdown }}
                <div id="method_parameters">
                    {% include "runs/fields.html" with fields=fields %}
                </div>
                <input type="submit" id="calculate_parameters_submit" value="Calculate">
            </form>
            <form action="{% url 'runs:plot' run_name %}" id="plot_form" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div id="plot_parameters">
                    {% include "runs/fields.html" with fields=plot_fields %}
                </div>
                <input type="submit" id="plot_parameters_submit" value="Plot">
            </form>

            {% if current_plots %}
                <div id="plots">
                    {% for plot in current_plots %}
                        <div style="width:600;height:500">
                            {{ plot|safe }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div id="nav_buttons">
            <form action="{% url 'runs:next' run_name %}" method="post">
                {% csrf_token %}
                {{ name_field }}<br>
                <button {% if not show_next %} disabled {% endif %}>Next</button>
            </form>

            <form action="{% url 'runs:back' run_name %}" method="post">
                {% csrf_token %}
                <button {% if not show_back %} disabled {% endif %}>Back</button>
            </form>
        </div>
    </main>
    <aside>
        {% include "runs/sidebar.html" with run_name=run_name workflow_steps=workflow_steps sidebar_dropdown=sidebar_dropdown %}
    </aside>
</div>
</body>

</html>
