<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script>
        // Sets up an event listener that sends a POST request with AJAX to the server to provide
        // the correct parameter dropdowns as HTML when the selected method changes.
        // It updates the page with the new dropdowns or displays an error message if something goes wrong.
        // The CSRF token is included in the data object to prevent cross-site request forgery attacks.

        $(document).ready(function () {
            $("#chosen_method").change(function () {
                const selected_method = $(this).val();

                $.ajax({
                    url: "{% url 'runs:change_method' run_name %}",
                    type: "POST",
                    data: {
                        method: selected_method,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function (response) {
                        $("#method_parameters").html(response.parameters);
                        $("#plot_parameters").html(response.plot_parameters);
                    }
                }).fail(function (e) {
                    console.log('Error:', e);
                    alert(e.responseJSON.error); // alert error message to user
                })
            })
        });
    </script>
    <title>PROTzilla</title>
</head>
<body>
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message | safe }}
            </p>
        {% endfor %}
    </div>
    <br>
{% endif %}

{{ run_name }}
<br>
<b>history</b>
<br>
{% for step in displayed_history %}
    {{ step.name }}<br>
    {% for field in step.fields %}
        {{ field }}<br>
    {% endfor %}
    {% for plot in step.plots %}
        <div style="width:600;height:500">
            {{ plot|safe }}
        </div>
    {% endfor %}

    <br>
{% endfor %}

<br>
{{ location }}
<br>
<form action="{% url 'runs:calculate' run_name %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ method_dropdown }}
    <div id="method_parameters">
        {% include "runs/fields.html" with fields=fields %}
    </div>
    <input type="submit" value="Calculate">
</form>
<form action="{% url 'runs:plot' run_name %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="plot_parameters">
        {% include "runs/fields.html" with fields=plot_fields %}
    </div>
    <input type="submit" value="Plot" {% if not show_next %} disabled {% endif %} >
</form>

{% for plot in current_plots %}
    <div style="width:600;height:500">
        {{ plot|safe }}
    </div>
{% endfor %}

<form action="{% url 'runs:next' run_name %}" method="post">
    {% csrf_token %}
    <button {% if not show_next %} disabled {% endif %}>Next</button>
</form>

<form action="{% url 'runs:back' run_name %}" method="post">
    {% csrf_token %}
    <button {% if not show_back %} disabled {% endif %}>Back</button>
</form>
</body>
</html>