{# params: key name disabled default steps outputs #}
{%if class%} <div class="{{class}}"> {%endif%}
<label for="{{ key }}">{{ name }}</label>
<select name="{{ key }}" id="{{ key }}" class="named form-select" {% if disabled %} disabled {% endif %} >
    {% for option in steps %}
        <option value="{{ option }}" {% if option == default.0 %} selected {% endif %} >{{ option }}</option>
    {% endfor %}
</select>
<select name="{{ key }}" class="form-select"{% if not disabled %} id="{{ key }}_outputs" {% endif %} {% if disabled %}
        disabled {% endif %} >
    {% for option in outputs %}
        <option value="{{ option }}" {% if option == default.1 %} selected {% endif %} >{{ option }}</option>
    {% endfor %}
</select>
{%if class%}</div> {%endif%}