<label for="{{ step }}">{{ step_name }}</label>
<select name="{{ step }}" id="{{ step }}" {% if disabled %}
        disabled
    {% endif %} >
    {% for method_key, method_name, _ in methods_dict %}
        <option value="{{ method_key }}" {% if method_key == default %}
            selected="selected"
        {% endif %} >{{ method_name }}</option>
    {% endfor %}
</select>
{% for method_key, method_name, _ in methods_dict %}
    {{ method_name }}
{% endfor %}
<br>
{#{{ method_field }}#}
{% for method_name, _, method_fields in methods_dict %}
    {% for field in method_fields %}
        {{ field.0.0|safe }}
    {% endfor %}
    hallo
    {{ method_fields.0.0|safe }}
    <br>
{% endfor %}
<br>
after
