<script>
    let current_parameters
    let current_plot_parameters
    let calc_params_match
    let plotted_for_parameters
    let calc_form_data
    let calculated_method

    function get_all_parameters(callback) {
        $.ajax({
            url: "{% url 'runs:all_parameters' run_name %}",
            type: "GET",
            success: function (response) {
                current_parameters = response["current_parameters"]
                current_plot_parameters = response["current_plot_parameters"]
                plotted_for_parameters = response["plotted_for_parameters"]
                calculated_method = response["chosen_method"]
                console.log("now callback")
                callback()
            }
        }).fail(function (e) {
            console.log('Error', e);
            alert(e.responseJSON.error)
        })
    }

    async function get_results_exist(callback) {
        $.ajax({
            url: "{% url 'runs:results_exist' run_name %}",
            type: "GET",
            success: function (response) {
                results_exist = response["results_exist"]
                callback()
            }
        }).fail(function (e) {
            console.log('Error', e);
            alert(e.responseJSON.error)
        })
    }

    function get_clean_form_data(form) {
        let formDataArray = form.serializeArray()
        console.log("form data array", formDataArray)
        let formDataDict = {};
        for (let i = 0; i < formDataArray.length; i++) {
            formDataDict[formDataArray[i].name] = formDataArray[i].value;
        }
        delete formDataDict["csrfmiddlewaretoken"]
        return formDataDict
    }


    function disable_plot(bool) {
        $('#plot_parameters_submit').prop('disabled', bool)
    }

    function disable_calc(bool) {
        $('#calculate_parameters_submit').prop('disabled', bool)
    }

    function isEmptyDict(obj) {
        return Object.keys(obj).length == 0
    }

    function trigger_plot_change() {
        get_results_exist(function () {
            $('#plot_form').trigger('change');
        })
    }

    function plotted_current_match() {
        if (isEmptyDict(plotted_for_parameters)) {
            return false
        }
        return Object.keys(current_parameters).every(key =>
            plotted_for_parameters.hasOwnProperty(key) && plotted_for_parameters[key] == current_parameters[key]
        );
    }

    function equal_calc_parameters(form) {
        if (isEmptyDict(current_parameters)) {
            return false
        }

        let form_data = get_clean_form_data(form)
        calc_form_data = form_data
        return Object.keys(current_parameters).every(key =>
            form_data.hasOwnProperty(key) && form_data[key] == current_parameters[key]
        );
    }

    function equal_plot_parameters(form) {
        if (isEmptyDict(current_plot_parameters)) {
            return false
        }

        let form_data = get_clean_form_data(form)
        return Object.keys(current_plot_parameters).every(key =>
            form_data.hasOwnProperty(key) && form_data[key] == current_plot_parameters[key]
        );
    }

    $(document).ready(function () {
        $('#calc_form').on('change', function () {
            calc_form_data = get_clean_form_data($(this))
            console.log("calc change")
            console.log("calc method", calculated_method)
            console.log("selected method", selected_method)
            console.log("!selected method", !selected_method)
            console.log("1", equal_calc_parameters($(this)))
            console.log("2", !equal_calc_parameters($(this)))
            console.log("3", equal_calc_parameters($(this)) && (calculated_method === selected_method))
            console.log("3.1", equal_calc_parameters($(this)))
            console.log("3.2", calculated_method === selected_method)
            console.log("4")
            if (!selected_method) {
                if (equal_calc_parameters($(this))) {
                    console.log("1")
                    disable_calc(true)
                    calc_params_match = true
                } else {
                    console.log("2")
                    disable_calc(false)
                    calc_params_match = false
                    trigger_plot_change()
                }
            } else if (equal_calc_parameters($(this)) && (calculated_method === selected_method)) {
                console.log("3")
                disable_calc(true)
                calc_params_match = true
            } else {
                console.log("4")
                disable_calc(false)
                calc_params_match = false
                trigger_plot_change()
            }
            console.log("after change calc form data", $(this).serializeArray())
        })

        $('#plot_form').on('change', function () {
            console.log("calc form data", calc_form_data)
            if (!calc_form_data || calc_form_data["chosen_method"] !== calculated_method)) {
                disable_plot(true)
                return
            }

            if (!plotted_current_match() && results_exist) {
                disable_plot(false)
                return
            }

            if (equal_plot_parameters($(this)) || !calc_params_match) {
                disable_plot(true)
            } else {
                disable_plot(false)
            }
        });

        get_all_parameters(function () {
            $('#calc_form').trigger('change');
            trigger_plot_change()
        })
    })
</script>
