<script>
    let current_parameters
    let current_plot_parameters
    let calc_params_match

    function get_current_parameters(callback) {
        $.ajax({
            url: "{% url 'runs:current_parameters' run_name %}",
            type: "GET",
            success: function (response) {
                current_parameters = response
                callback()
            }
        }).fail(function (e) {
            console.log('Error', e);
            alert(e.responseJSON.error)
        })
    }

    async function get_current_plot_parameters(callback) {
        $.ajax({
            url: "{% url 'runs:current_plot_parameters' run_name %}",
            type: "GET",
            success: function (response) {
                current_plot_parameters = response
                callback()
            }
        }).fail(function (e) {
            console.log('Error', e);
            alert(e.responseJSON.error)
        })
    }

    async function get_results_exist(callback) {
        $.ajax({
            url: "{% url 'runs:results_exist' run_name %}",
            type: "GET",
            success: function (response) {
                results_exist = response["results_exist"]
                callback()
            }
        }).fail(function (e) {
            console.log('Error', e);
            alert(e.responseJSON.error)
        })
    }

    get_clean_form_data = function (form) {
        let formDataArray = form.serializeArray()
        let formDataDict = {};
        for (let i = 0; i < formDataArray.length; i++) {
            let fieldName = formDataArray[i].name;
            let fieldValue = formDataArray[i].value;
            formDataDict[fieldName] = fieldValue;
        }
        delete formDataDict["csrfmiddlewaretoken"]
        return formDataDict
    }

    disable_plot = function (bool) {
        $('#plot_parameters_submit').prop('disabled', bool)
    }

    disable_calc = function (bool) {
        $('#calculate_parameters_submit').prop('disabled', bool)
    }

    function initial_trigger() {
        $(document).trigger('initial_change')
    }

    function isEmptyDict(obj) {
        return Object.keys(obj).length == 0
    }

    function trigger_plot_change() {
        get_results_exist(function () {
            const plot_form = document.querySelector('#plot_form');
            plot_form.dispatchEvent(new Event('change'));
        })
    }

    equal_calc_parameters = function (form) {
        if (isEmptyDict(current_parameters)) {
            return false
        }

        let form_data = get_clean_form_data(form)
        for (let key in current_parameters) {
            if (form_data.hasOwnProperty(key)) {
                let value = current_parameters[key]
                if (form_data[key] != value) {
                    return false
                }
            } else {
                return false
            }
        }
        return true
    }

    equal_plot_parameters = function (form) {
        let form_data = get_clean_form_data(form)
        if (isEmptyDict(current_plot_parameters)) {
            return false
        }
        for (let key in current_plot_parameters) {
            if (form_data.hasOwnProperty(key)) {
                let value = current_plot_parameters[key]
                if (form_data[key] != value) {
                    return false
                }
            } else {
                return false
            }
        }
        return true
    }

    $(document).ready(function () {
        const calc_form = document.querySelector('#calc_form');
        const plot_form = document.querySelector('#plot_form');

        calc_form.addEventListener('change', function () {
            if (equal_calc_parameters($(this))) {
                disable_calc(true)
                calc_params_match = true
            } else {
                disable_calc(false)
                calc_params_match = false
                trigger_plot_change()
            }
        })

        plot_form.addEventListener('change', function () {
            if (results_exist !== true || calc_params_match !== true) {
                disable_plot(true)
                return
            }
            if (equal_plot_parameters($(this))) {
                disable_plot(true)
            } else {
                disable_plot(false)
            }
        });

        get_current_parameters(function () {
            get_current_plot_parameters(function () {
                initial_trigger()
            })
        })

    })

    $(document).on('initial_change', function () {
        const calc_form = document.querySelector('#calc_form');
        calc_form.dispatchEvent(new Event('change'));
        trigger_plot_change()
    })
</script>
