{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'runs/index.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'runs/index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" id="contain">
  <div class="col">
    {% if messages %}
      <div class="messages">
          {% for message in messages %}
              <div class="alert alert-dismissible fade show ps-5{% if message.tags %} {{ message.tags }}{% endif %}"
                    role="alert">
                  {{ message | safe }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert"
                          aria-label="Close"></button>
              </div>
          {% endfor %}
      </div>
      <br>
    {% endif %}
  <div class="row">
    <div class="col mx-4">
      <form action="{% url 'runs:create' %}" method="post">
        {% csrf_token %}
        <div class="mb-2">
          <h3>Work on a new run:</h3>
          <input name="run_name" id="run_name" placeholder="Add run name" class="form-control">
        </div>
        <div class="mb-2">
          <label for="workflow_config_name">With workflow:</label>
          <select name="workflow_config_name" id="workflow_config_name" class="form-select">
            {% for name in available_workflows %}
            <option value="{{ name }}" {% if name == "standard" %} selected {% endif %}>{{ name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-2">
          <label for="df_mode">Memory mode:</label>
          <select name="df_mode" id="df_mode" class="form-select">
            <option value="disk_memory" selected >standard</option>
            <option value="disk">low memory</option>
          </select>
        </div>
        <input type="submit" value="Create" class="btn btn-red">
      </form>
    </div>

    <!-- CONTINUE DROPDOWN MENU-->
    <div class="col mx-4">
      <form class="mb-5" action="{% url 'runs:continue' %}" method="post">
        {% csrf_token %}
        <div class="mb-2">
          <h3>Continue an existing run:</h3>
          <div class="dropdown">

            <button class="form-select" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <span id="selectedRun">{{ available_runs.0.run_name }}</span>
            </button>

            <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton" style="max-height: 200px; overflow-y: auto;">
              <!--{% for name in available_runs %}
              <li class="dropdown-item d-flex justify-content-between" onclick="selectRun('{{name}}')">
                <span>{{ name }}</span>
                <button type="button" class="btn btn-red" onclick="deleteRun('{{name}}')">Delete</button>
              </li>
              {% endfor %}-->
              {% for run in available_runs %}
              <li class="dropdown-item d-flex justify-content-between" onclick="selectRun('{{run.run_name}}')">
                <span>{{ run.run_name }}</span>
                <button type="button" class="btn btn-red" onclick="deleteRun('{{run.run_name}}')">Delete</button>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <input type="hidden" name="run_name" id="run_name_id" value="{{available_runs.0.run_name}}">
        <input type="submit" value="Continue" class="btn btn-red">
      </form>
      <form id="delete_run" class="mb-5" action="{% url 'runs:delete' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="delete_run_name" id="delete_run_name_id" value="{{available_runs.0.run_name}}">
      </form>
      <a class="btn btn-grey" href="{% url 'databases' %}">Manage databases</a>
    </div>
    
  </div>
  <form id="filtertest" class="mb-5" action="{% url 'runs:index' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="filter" value='{"x": "y"}'>
    <input type="submit" value="Filter" class="btn btn-red">
  </form>
</div>

{% endblock %}