{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'runs/index.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'runs/index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" id="contain">
  <div class="col">
    {% if messages %}
      <div class="messages">
          {% for message in messages %}
              <div class="alert alert-dismissible fade show ps-5{% if message.tags %} {{ message.tags }}{% endif %}"
                    role="alert">
                  {{ message | safe }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert"
                          aria-label="Close"></button>
              </div>
          {% endfor %}
      </div>
      <br>
    {% endif %}
  <div class="row w-100">
    <div class="col-3 mx-5">
      <form action="{% url 'runs:create' %}" method="post">
        {% csrf_token %}
        <div class="mb-2">
          <h3>Work on a new run:</h3>
          <input name="run_name" id="run_name" placeholder="Add run name" class="form-control">
        </div>
        <div class="mb-2">
          <label for="workflow_config_name">With workflow:</label>
          <select name="workflow_config_name" id="workflow_config_name" class="form-select">
            {% for name in available_workflows %}
            <option value="{{ name }}" {% if name == "standard" %} selected {% endif %}>{{ name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-2">
          <label for="df_mode">Memory mode:</label>
          <select name="df_mode" id="df_mode" class="form-select">
            <option value="disk_memory" selected >standard</option>
            <option value="disk">low memory</option>
          </select>
        </div>
        <input type="submit" value="Create" class="btn btn-red">
      </form>
    </div>

    <!-- CONTINUE DROPDOWN MENU-->
    <div class="col-7 mx-5">
      <form class="mb-5" action="{% url 'runs:continue' %}" method="post">
        {% csrf_token %}
        <div class="mb-2">
          <h3>Continue an existing run:
            <span id="selectedRun">{{ available_runs.0.run_name }}</span>
          </h3>
          
            <ul class="w-100" aria-labelledby="dropdownMenuButton" style="max-height: 200px; overflow-y: scroll !important; padding:0;">
              {% for run in available_runs %}
              <hr style="margin: 5px 0px;">
              <li class="d-flex justify-content-between" onclick="selectRun('{{run.run_name}}')">
                <button type="button" class="btn" onclick="toggleIcon(this)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                  </svg>
                </button>
                <span class="align-bottom" style="width: 30%"><b>{{ run.run_name }}</b></span>
                <span class="run_row" style="width: 15%">{{ run.creation_date }}</span>
                <span class="run_row" style="width: 15%">{{ run.modification_date }}</span>
                <span class="run_row" style="width: 15%">{{ run.memory_mode }}</span>
                <button type="button" class="btn btn-red" onclick="deleteRun('{{run.run_name}}')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                  </svg>
                </button>
              </li>
              
              {% endfor %}
            </ul>
            
        </div>
        <input type="hidden" name="run_name" id="run_name_id" value="{{available_runs.0.run_name}}">
        <input type="submit" value="Continue" class="btn btn-red">
      </form>
      <form id="delete_run" class="mb-5" action="{% url 'runs:delete' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="delete_run_name" id="delete_run_name_id" value="{{available_runs.0.run_name}}">
      </form>
      <a class="btn btn-grey" href="{% url 'databases' %}">Manage databases</a>
    </div>
    
  </div>
  <form id="filtertest" class="mb-5" action="{% url 'runs:index' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="filter" value='{"x": "y"}'>
    <input type="submit" value="Filter" class="btn btn-red">
  </form>
</div>

{% endblock %}