{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'runs/style.css' %}">
    <style>
        .body {
            font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
            font-size: 14px;
        }

        .container {
            display: flex;
        }

        #protein_graph_sidebar {
            width: auto;
            max-height: 94vh; /* Set a maximum height equal to the viewport height */
            overflow-y: auto;
            /* Add other sidebar styles */
        }

        .collapsible-content {
            display: none;
            /* Add other collapsible content styles */
        }

        .collapsible-content.collapsed {
            display: none; /* Hide content for collapsed sections */
        }

        #cy {
            flex: 1;
            /* Add other Cytoscape container styles */
        }
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cytoscape-3.24.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/klay.0.4.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cytoscape-klay.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cytoscape-dagre.js' %}"></script>

    <script>
        function getWidth(node) {
            // curtesy to Simon Moe -> https://github.com/cytoscape/cytoscape.js/issues/2713#issuecomment-1062746258
            /**
             Calculate the width of a node given its text label `node.data('label')`
             */

            const ctx = document.createElement('canvas').getContext("2d");
            const fStyle = node.pstyle('font-style').strValue;
            const size = node.pstyle('font-size').pfValue + 'px';
            const family = node.pstyle('font-family').strValue;
            const weight = node.pstyle('font-weight').strValue;
            ctx.font = fStyle + ' ' + weight + ' ' + size + ' ' + family;

            // For multiple lines, evaluate the width of the largest line
            const lines = node.data('label').split('\n')
            const lengths = lines.map(a => a.length);
            const max_line = lengths.indexOf(Math.max(...lengths));

            const padding = 20
            return ctx.measureText(lines[max_line]).width + padding;
        }

        document.addEventListener('DOMContentLoaded', function () {
            $('.collapsible-trigger').click(function () {
                $(this).toggleClass('active');
                $(this).next('.collapsible-content').slideToggle('fast');
            });

            var cy = window.cy = cytoscape({
                container: document.getElementById('cy'),
                layout: {
                    name: 'klay',
                    fit: true,
                    nodeDimensionsIncludeLabels: true,
                    avoidOverlap: true,
                },
                style: [
                    {
                        selector: 'node',
                        style: {
                            'shape': "roundrectangle",
                            'label': 'data(label)',
                            'text-valign': 'center',
                            'text-halign': 'center',
                            'width': getWidth,
                            'background-color': 'lightblue',
                            'horizontal-text-margin': '10px',
                            'color': function (node) {
                                return node.data('match') === 'true' ? 'red' : 'black';
                            }
                        }
                    },
                    {
                        selector: 'edge',
                        style: {
                            'curve-style': 'bezier',
                            'target-arrow-shape': 'triangle',
                            'width': 2,
                            'line-color': '#ccc',
                            'target-arrow-color': '#ccc',
                            'source-endpoint': '90deg',
                            'target-endpoint': '270deg',
                        }
                    }
                ],
                elements: {{ elements|safe }}
            });
        });

    </script>
{% endblock %}

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

{% block content %}
    <div class="container">
        <div id="cy"></div>
        <div id="protein_graph_sidebar">
            <!-- Sidebar content -->
            <h2>Protein: {{ protein_id }}</h2>
            <div class="collapsible">
                <h3 class="collapsible-trigger">Peptide Matches</h3>
                <ul class="collapsible-content collapsed">
                    {% for match in peptide_matches %}
                        <li>{{ match }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="collapsible">
                <h3 class="collapsible-trigger">Peptide Mismatches</h3>
                <ul class="collapsible-content collapsed">
                    {% for mismatch in peptide_mismatches %}
                        <li>{{ mismatch }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
