{#<script>#}
{#    $(document).ready(function () {#}
{#        $('#plot_form').on('submit', function (e) {#}
{#            console.log("protein_graph submit")#}
{#            e.preventDefault(); // Prevent form submission#}
{#            let selected_method = $("#chosen_method").val();#}
{#            if (selected_method !== "variation_graph") {#}
{#                console.log("not variation_graph")#}
{#                $(this).submit();#}
{#                return#}
{#            }#}
{#            console.log("in variation_graph")#}
{##}
{#            const form = $('#plot_form');#}
{#            form.attr('target', '_blank');#}
{#            form.attr('method', 'POST')#}
{#            form.attr('action', "{% url 'runs:variation_plot' run_name %}")#}
{##}
{#            form.submit()#}
{##}
{#            // Open the URL in a new tab#}
{#            // window.open(visualizationURL, '_blank');#}
{#        });#}
{#    });#}
{#</script>#}
