{# params: workflow_steps add_step_key run_name#}
<div class="container mt-3">
    <div id="accordion">
        {% for section in workflow_steps %}
            <div class="card">
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse_{{ section.id }}">
                        {{ section.name }}
                    </a>
                </div>
                <div id="collapse_{{ section.id }}"
                     class="collapse {% if section.selected %} show {% endif %}"
                     data-bs-parent="#accordion">
                    <div class="card-body">
                        {% include "runs/sidebar_section.html" with section=section key=add_step_key run_name=run_name %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
