{# params: run_name section{id, name, finished, selected, possible_steps{id, name, methods{id, name, description}}, steps{id, name, finished, selected, index, method_name}} #}

{% block js %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                delay: {show: 1000, hide: 0}
            });
        });
    </script>
{% endblock %}

<div>
    {% for step in section.steps %}
        <div class="wrapper {% if step.selected %}selected{% endif %} {% if step.finished %}finished{% endif %} d-flex align-items-center">
            <form action="{% url 'runs:navigate' run_name %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="section_name" value="{{ section.id }}">
                <input type="hidden" name="index" value="{{ step.index }}">
                <button class="me-1" style="border: none; background: none; text-align: left">
                    <p class="me-1">{{ step.name }}: <i>{{ step.method_name }}</i></p>
                </button>
            </form>

            {% if not step.selected and not step.finished %}
                {# button to remove step from workflow #}
                <form action="{% url 'runs:delete_step' run_name %}" method="post" class="ms-auto">
                    {% csrf_token %}
                    <input type="hidden" name="index" value="{{ step.index }}">
                    <input type="hidden" name="section" value="{{ step.section }}">
                    <button class="removeBtn btn d-flex justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                          </svg>
                    </button>                    
                </form>
            {% endif %}

        </div>
    {% endfor %}
</div>

{% if section.finished %}
    <p class="pb-2"><i class="text-muted">Go back to this section to add more steps</i></p>
{% else %}
    <button id="add-steps-button" class="btn btn-blue full_width mt-2 mb-2 d-flex align-items-center" type="button" data-bs-toggle="collapse"
            data-bs-target="#add_steps_div_{{ section.id }}">
        <span class="d-flex justify-content-center flex-grow-1"> + add steps</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down ms-auto" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
          </svg>
    </button>

    <div id="add_steps_div_{{ section.id }}" class="collapse">
        <div class="d-flex justify-content-center mb-2">
            <i id="explainAddStep" class="text-muted">Click on a method to add it to your run</i>
        </div>

        <table class="table">
            {% for possible_step in section.possible_steps %}
                <tr>
                    <td class="small">{{ possible_step.name }}</td>
                    <td>
                        <div class="simple-tags">
                            <ul>
                                {% for method in possible_step.methods %}
                                    <li>
                                        <form action="{% url 'runs:add' run_name %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="section_name" value="{{ section.id }}">
                                            <input type="hidden" name="step" value="{{ possible_step.id }}">
                                            <input type="hidden" name="method" value="{{ method.id }}">
                                            <button class="btn btn-sm btn-grey" data-toggle="tooltip"
                                                    data-placement="right"
                                                    title="{{ method.description }}">{{ method.name }}</button>
                                        </form>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
