<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <style id="__________cytoscape_stylesheet">.__________cytoscape_container {
        position: relative;
    }</style>
    <title>cytoscape-klay.js demo</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="{% static 'js/cytoscape-3.24.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/klay.0.4.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cytoscape-klay.js' %}"></script>

    <style>
        body {
            font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
            font-size: 14px;
        }

        #cy {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 999;
        }

        h1 {
            opacity: 0.5;
            font-size: 1em;
            font-weight: bold;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            var cy = window.cy = cytoscape({
                container: document.getElementById('cy'),

                // demo your layout
                layout: {
                    name: 'klay',

                    // some more options here...
                },

                style: [
                    {
                        selector: 'node',
                        style: {
                            'label': 'data(label)', // Use the 'label' attribute for node labels
                            'text-valign': 'center',
                            'text-halign': 'center',
                            'background-color': 'lightblue', // Example node style
                            'width': '60px',
                            'height': '60px'
                        }
                    },

                    {
                        selector: 'edge',
                        style: {
                            'curve-style': 'bezier',
                            'target-arrow-shape': 'triangle',
                            'width': 2,
                            'line-color': '#ccc',
                            'target-arrow-color': '#ccc',
                        }
                    }
                ],

                elements: {{ elements|safe }}
            });
        });
    </script>
</head>
<body>
<h1>cytoscape-klay.js demo</h1>
<div id="cy"></div>
</body>
</html>
