{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock %}
    {% block title %}
        <title>PROTzilla</title>
    {% endblock %}
    <link rel="shortcut icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}"/>
</head>
<body>
{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}
{% block content %}
    <br>
    <p>You're at the main index.<br><a href='/runs'>Runs</a></p>
{% endblock %}

<script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>
