{% load static%}
<nav class="navbar bg-blue sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">
            <img src="{% static 'img/logo_white.svg' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            <b>PROTzilla</b>
        </a>
        {% if run_name %}
            <div class="navbar-brand text-white">Run: {{run_name}}</div>
        {%endif%}

        <div class="navbar-brand text-white">
            {% if used_memory %}
                Memory: {{ used_memory }}&nbsp &nbsp
            {%endif%}
            <a class="navbar-brand text-white" href="https://github.com/cschlaffner/PROTzilla2">
                <img src="{% static 'img/github-mark-white.svg' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            </a>
        </div>
    </div>
</nav>